body {
    color: #444;
    margin: 0;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
    overflow:hidden;
}

a {
    color: #08f;
}

.colorPicker {
    display: inline-block;
    margin: 0 10px
}

a, button, input, select {
    pointer-events: auto;
}

#info {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 2; /* TODO Solve this in HTML */
}

#stats {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    display:inline-block;
    z-index: 2; /* TODO Solve this in HTML */
}

#force-switches {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 10px;
    align-content: right;
    box-sizing: border-box;
    text-align: right;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    z-index: 2; /* TODO Solve this in HTML */
}